@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

header {
  background-color:#21253c;
  border-color: rgb(255 255 255);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

header h1{
  color: rgb(255 255 255);
  font-size: 1.5rem;
}

body{
  background-color: #080d26;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin: auto;
}